@charset "UTF-8";
body{
	font-size: 9pt;
}
td{font-size: 9pt;}
select{font-size:9pt;}
form{font-size:9pt;}
body,td{
	text-align: center;
}
table{
	border: 1px solid black;
}
.left{
	text-align: left;
}